spring:
  application:
    name: analytics-service
  threads:
    virtual:
      enabled: true

server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    com.clickhouse: WARN
    com.clickhouse.client.http: WARN
    com.clickhouse.jdbc: WARN
